includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	paths:
		- devform.php
		- includes
	bootstrapFiles:
		- .phpstan-bootstrap.php
	excludePaths:
		- vendor
		- node_modules
